
a {
  color: #000000;
}

h1 {
  color: #f40000;
}
li{
  color: rgb(188, 8, 248);
}

h3 {
  color: #e8d210;
}
nav{
  background-color:  #13a6e0;
}
.hot{
  color: #f40000;
}

  @media only screen and (max-width: 600px) {
    a{
      color: rgb(211, 18, 18);
    }
    font{
      color: rgb(0, 46, 139);
    }
    nav{
      background-color:blueviolet;
    }
    ul{
      color: darkorchid;
    }
    span{
      color: green;
    }
    head{
      color: blueviolet;
    }
    .hot{
      color: #e8d210;
    }
    .title-nav{
      color: #000000;
    }
    .textfoot{
      color: #f40000;
    }
  }
  
  