// Small devices (landscape phones, 576px and up)



@media (max-width: 600px) { 
  h2 {
    background-color: blueviolet;
  }

  h2 {
    color: aliceblue;
  }

  p {
    background-color: blueviolet;
  }

  p {
    color: white;
  }

  body{
    background-color: silver;
  }
  
}

